@page{size: A4 portrait;}
@page{margin-bottom: 300pt;}
 
#berlussimo_logo_top{
display:none;
}

#berlussimo_logo_top img{
display:none;
}


a{
display:none;
}
#tr_ansehen{
display:none;
}



#td_ansehen{
display:none;
}


body {
background-color: transparent;
font-size: 10pt;
font-family:'Arial';
margin-left:70px;
margin-right:70px;
}

.navi_leiste1{
display: none;
}

.navi_leiste2{
display: none;
}


form, fieldset{
border:0;

}
legend{
display:none;
}

.willkommen{
display: none;
}

h2{
margin:0;
padding:0;
}



hr{
margin:0;
padding:0;
border: 0px;
border-top: solid 2px #000;
}



#rechnung{
display:none;
}
    

.kontierungs_link{display:none;}
.status_kontierung{display:none;}
.rechnung_aussteller_feld{display:none}
.rechnung_empfaenger_feld{display:none}
.zusatz_info{display:none}

#adress_feld_empfaenger{position:absolute;color:#000;left:30px;top:270px;font-family: arial;font-size: 11pt;font-weight:bold;}
#rechnungs_nr_u{position:absolute;color:#000;left:30px;top:450px;font-family: verdana;font-size: 11pt;font-weight:bold;}
#rechnungs_nr{position:absolute;color:#000;left:250px;top:450px;font-family: verdana;font-size: 11pt;font-weight:bold;}
#rechnungs_datum_u{position:absolute;color:#000000;right:150px;top:450px;}
#rechnungs_datum{position:absolute;color:#000000;right:50px;top:450px;}
#eingangs_datum_u{display:none}
#eingangs_datum{display:none}
#rechnung_faellig_u{position:absolute;color:#000000;right:150px;top:465px;}
#rechnung_faellig{position:absolute;color:#000000;right:50px;top:465px;}
#rechnung_beschreibung{position:absolute;color:#000000;left:30px;top:500px;font-family: Helvetica;font-size: 11pt;}
#status_gezahlt_u{display:none}
#status_gezahlt{display:none}
#link_zahlung_frei{display:none}
#link_bezahlt_mark{display:none}

#positionen_div{width:100%;background-color:#fff;border:0px solid #000;position:relative;color:#fff;top:300px;font-family: Verdana;font-size: 11pt;display:block;float:left}
#positionen_tab{width:100%;position:relative;float:left;}
#rechnung_footer_zeilen{
}




hr{color:#000;width:100%;}

#kontaktdaten_feld{
margin-left:730px;
top:150px;
position:absolute;
width:150px;
height:200px;
background-color:#003366;
display:inline;
}
th {
	font: bold 14px "Trebuchet MS", Verdana, Arial, Helvetica,
	sans-serif;
	color: #000;
	border:0;
	letter-spacing: 2px;
	text-transform: uppercase;
	padding: 2px 2px 2px 0px;
	}

thead {
 	    display:table-header-group;
 	} 

tbody {
 	    display:table-row-group;
	} 

th.nobg {
	border-top: 0;
	border-left: 0;
	border-right: 1px solid #C1DAD7;
	background: none;
}
th.spec {	
	border-left: 1px solid #C1DAD7;
	border-top: 0;
	font: bold 10px "Trebuchet MS", Verdana, Arial, Helvetica,
	sans-serif;
}

th.specalt {
	border-left: 1px solid #C1DAD7;
	border-top: 0;
	font: bold 10px "Trebuchet MS", Verdana, Arial, Helvetica,
	sans-serif;
	color: #B4AA9D;
}

td {
	font: 11 Verdana, Arial, Helvetica,
	sans-serif;
	border-right: 0px solid #C1DAD7;
	border-bottom: 0px solid #C1DAD7;
	background: #fff;
	padding: 0px 0px 0px 0px;
	color: #000;

}


td.alt {
	background: #F5FAFA;
	color: #B4AA9D;
}

#rechnungs_netto{display:none}
#rechnungs_brutto{display:none}

/*DIVS NEU DRUCKEN*/
/* 1. Div für LOGO*/
#div_logo{
width:100%;

background-color:#fff;
vertical-align:middle;
text-align:center;
}

#div_logo img{
width:275px;
height:110px;
margin-bottom:10px;
}


/* 2. Div für Firmenname*/
#div_firma{
font-size:8pt;
font-family: "Trebuchet MS";
width:100%;
background-color:#fff;
margin-bottom:20px;
}
/* 3. Div für Empfänger Adressfeld*/
#div_adressfeld{
width:100%;
height:150px;
background-color:#fff;
font-size:10pt;
font-family: "Arial";

}

#div_faltlinie{
position:fixed;
top:370px;
left:0px;
color:#ac9d93;
font-size:5px;
}

/* 4. Div für Rechnungsdaten*/
#div_rechnungsdaten{
width:100%;
height:100px;
background-color:#fff;
}
#rechnungsdaten_links{
margin-top:20px;
width:50%;
float:left;
background-color:#fff;
color:#000;
font-weight:bold;
margin:0px;
}
#rechnungsdaten_rechts{
padding:0px;
float:right;
width:50%;
margin-top:20px;
text-align:right;
color:#000;
background-color:#fff;
}

#rechnungsdatum_u{
padding:0px;
margin:0px;
}
#rechnungsfaellig_u{
margin:0px;
padding:0px;
}

#skonto_u{
margin:0px;
padding:0px;
}



#div_kurzbeschreibung{
color:#000;
font-size: 10pt;
font-weight:bold;
}

#rechnungsnummer_u{
color:#000;
font-size: 13pt;
}



/* 4. Div für POSITIONEN*/
#div_positionen{
width:100%;
background-color:#fff;
height:auto;
clear:both;
}

@body{
margin-bottom:100px;
}


/* 5. Div für Zahlungshinweise*/
#div_z_hinweis{
font-size:9pt;
font-family: "Trebuchet MS";
clear:both;
width:100%;
background-color:#fff;
padding-top:20px;
page-break-inside: avoid;
}
/* 6. Div für Footer*/
#div_footer_zeile{
clear:both;
position:fixed;
left:0px;
bottom:0px;
height:50px;
width:100%;
color:#000;
padding:0px;
background-color:#fff;
font-family: Helvetica;
font-size: 9pt;

}
TABLE {
page: rotated; margin-bottom:75px;
border:0;
}
tr {page-break-inside: avoid;}

/*Spalte AUS in rechnnungen nicht anzeigen*/
#aus{
display:none;
}

#b_footer{
display:none;
}