**
!/app
!/bootstrap
!/config
!/database
!/docker
/docker/**
!/docker/fpm/docker-php-entrypoint
!/docker/echo-server/docker-entrypoint.sh
!/docker/echo-server/laravel-echo-server.json
!/legacy
!/public
/public/**
!/public/index.php
!/public/.user.ini
!/public/robots.txt
!/public/favicon.ico
!/public/svg
!/resources
!/routes
!/storage/app/backups
/storage/app/backups/*
!/storage/app/fotos
/storage/app/fotos/*
!/storage/app/kontenberichte
/storage/app/kontenberichte/*
!/storage/app/logos
/storage/app/logos/*
!/storage/app/objektberichte
/storage/app/objektberichte/*
!/storage/app/public
/storage/app/public/*
!/storage/app/serienbriefe
/storage/app/serienbriefe/*
!/storage/logs
/storage/logs/*
!/storage/framework/cache
/storage/framework/cache/*
!/storage/framework/sessions
/storage/framework/sessions/*
!/storage/framework/testing
/storage/framework/testing/*
!/storage/framework/views
/storage/framework/views/*
!/artisan
!/composer.json
!/composer.lock
!/package.json
!/package-lock.json
!/webpack.mix.js
!/tsconfig.json