.git
.gitignore
/vendor
/node_modules
/storage/*.key
/storage/app/backups/**
/storage/app/fotos/**
/storage/app/kontenberichte/**
/storage/app/logos/**
/storage/app/objektberichte/**
/storage/app/public/**
/storage/app/serienbriefe/**
/storage/debugbar/**
/storage/framework/cache/**
/storage/framework/sessions/**
/storage/framework/testing/**
/storage/framework/views/**
/storage/logs/**
/public/**
!/public/svg/**
!/public/.user.ini
!/public/favicon.ico
!/public/index.php
!/public/robots.txt
/.project
/.settings
/.buildpath
/.idea
/.vscode
/.vagrant
/.env
.phpunit.result.cache
Homestead.yaml
Homestead.json
/.phpstorm.meta.php
/_ide_helper.php
/_ide_helper_models.php
npm-debug.log
yarn-error.log