/bower_components
.project
.settings
.buildpath
.idea
vendor
classes/config.inc.php
FOTOS
/bower_components
/.env
/node_modules
/public
/storage
/_ide_helper.php
/bootstrap/cache
Monatsberichte
/resources
/composer.lock
/test.php