/vendor
/node_modules
/storage/*.key
/.project
/.settings
/.buildpath
/.idea
/.vscode
/.vagrant
/.env
.phpunit.result.cache
Homestead.yaml
Homestead.json
/.phpstorm.meta.php
/_ide_helper.php
/_ide_helper_models.php
npm-debug.log
yarn-error.log