memory: 8192
cpus: 4
provider: virtualbox
authorize: ~/.ssh/id_rsa.pub
keys:
  - ~/.ssh/id_rsa
folders:
  - map: /path/to/berlussimo
    to: /home/vagrant/code
  - map: /path/to/composer/profile/.composer
    to: /home/vagrant/.composer
sites:
  - map: berlussimo.test
    to: /home/vagrant/code/public
databases:
  - homestead
name: berlussimo
hostname: berlussimo
mariadb: true
networks:
  - type: "public_network"
    ip: ip.add.re.ss
    bridge: "eth0"

