/*
 *  LineGraph.css
 *
 *	This file is the default stylesheet for Line Graphs. It is used if no other stylesheet is specified.
 *	To specify own stylesheets, use the setStylesheetUrl() method
 */

/* ********** */
/* ** BARS ** */
/* ********** */
 
/* settings for all bars */
#lines line
{
	stroke: #000;
	stroke-width: 5px;
	stroke-opacity: 0.75;
}

/* text for values displayed in bars */
#lines text {
	font: 10px Arial, sans-serif;
	fill: #777;
}

/* settings for each row (0..n) */
#dataRow0 line, #legend .dataRow0 {stroke: rgb(0,114,183);}
#dataRow1 line, #legend .dataRow1 {stroke: rgb(128,185,219);}
#dataRow2 line, #legend .dataRow2 {stroke: rgb(179,213,233);}

/* ******************* */
/* ** AVERAGE LINES ** */
/* ******************* */

/* total average line */
#totalAverageLine, #legend .totalAverageLine {
	stroke: #f00;
	stroke-width: 5px;
	stroke-dasharray: 10,10;
	opacity: 0.4;
}

/* settings for all average lines (except total average line) */
.averageLine0, .averageLine1, .averageLine2, .averageLine3, .averageLine4, 
.averageLine5, .averageLine6, .averageLine7, .averageLine8, .averageLine9
{
	stroke: #000;
	stroke-width: 1px;
	opacity: 0.8;
	shape-rendering: crispEdges;
}

/* settings for each average line (0..n) */
.averageLine0 {stroke: rgb(0,114,183);}
.averageLine1 {stroke: rgb(128,185,219);}
.averageLine2 {stroke: rgb(179,213,233);}

/* ************************** */
/* ** MOVING AVERAGE LINES ** */
/* ************************** */
 
/* total moving average line */
#totalMovingAverageLine, #legend .totalMovingAverageLine {
	stroke: #f00;
	stroke-width: 3px;
	opacity: 1;
}

/* settings for all moving average lines (except total moving average line) */
#movingAverageLine0, #movingAverageLine1, #movingAverageLine2, #movingAverageLine3, #movingAverageLine4,
#movingAverageLine5, #movingAverageLine6, #movingAverageLine7, #movingAverageLine8, #movingAverageLine9,
#legend .movingAverageLine0, #legend .movingAverageLine1, #legend .movingAverageLine2, #legend .movingAverageLine3, #legend .movingAverageLine4,
#legend .movingAverageLine5, #legend .movingAverageLine6, #legend .movingAverageLine7, #legend .movingAverageLine8, #legend .movingAverageLine9
{
	stroke: #000;
	stroke-width: 4px;
	stroke-dasharray: 2,2;
	opacity: 1;
}

/* settings for each moving average line (0..n) */
#movingAverageLine0, #legend .movingAverageLine0 {stroke: rgb(0,114,183);}
#movingAverageLine1, #legend .movingAverageLine1 {stroke: rgb(128,185,219);}
#movingAverageLine2, #legend .movingAverageLine2 {stroke: rgb(179,213,233);}

/* ********** */
/* ** TEXT ** */
/* ********** */
 
#graphTitle {
	font: bold 25px "Trebuchet MS", Arial, sans-serif;
	text-rendering: auto;
}
#xAxisLabel, #yAxisLabel {
	fill: #aaa;
	font: bold 18px "Trebuchet MS", Arial, sans-serif;
	font-style: italic;
	text-rendering: auto;
}
#xAxisGraduation text, #yAxisGraduation text, #yAxisRightGraduation text,
#xAxisNullLabel, #yAxisNullLabel,
#xAxisMaxLabel, #yAxisMaxLabel, #yAxisRightMaxLabel {
	font: 9px Tahoma, Arial, sans-serif;
}
#timestamp {
	font: 10px Arial, sans-serif;
	fill: #aaa;
}

/* settings for the key legend (displayed on hover of the info button) */
#legend text {
	font: 11px Arial, sans-serif;
}
#legend .background {
	fill: #fff;
	opacity: 0.8;
}
#legend .heading {
	font: 20px "Trebuchet MS", Arial, sans-serif;
	text-rendering: auto;
}

/* ***************** */
/* ** BACKGROUNDS ** */
/* ***************** */
 
#graphBackground {
	fill: #fff;
}
#canvasBackground {
	fill: #efe;
}
.green {
	fill: #6f6;
	opacity: 0.3;
}
.yellow {
	fill: #ff6;
	opacity: 0.3;
}
.red {
	fill: #f66;
	opacity: 0.3;
}

/* *********** */
/* ** LINES ** */
/* *********** */
 
#xAxis, #yAxis, #yAxisRight {
	stroke: #000;
	stroke-width: 1px;
	shape-rendering: crispEdges;
}
#graduationLinesVertical line, #graduationLinesHorizontalFull line, #graduationLinesHorizontalHalf line {
	stroke: #ddd;
	stroke-width: 1px;
	shape-rendering: crispEdges;
}
#graduationLinesHorizontalHalf line {
	stroke: #eee;
}

/* ******************** */
/* ** OTHER SETTINGS ** */
/* ******************** */

.bold {
	font-weight: bold !important;
}

text {text-rendering: optimizeLegibility;}