// ==========================================================================
// Materialize variables
// ==========================================================================
//
// Table of Contents:
//
//  1. Colors
//  2. Badges
//  3. Buttons
//  4. Cards
//  5. Collapsible
//  6. Chips
//  7. Date Picker
//  8. Dropdown
//  10. Forms
//  11. Global
//  12. Grid
//  13. Navigation Bar
//  14. Side Navigation
//  15. Photo Slider
//  16. Spinners | Loaders
//  17. Tabs
//  18. Tables
//  19. Toasts
//  20. Typography
//  21. Footer
//  22. Flow Text
//  23. Collections
//  24. Progress Bar



// 1. Colors
// ==========================================================================

$primary-color: color("grey", "darken-3") !default;
$primary-color-dark: darken($primary-color, 15%) !default;
$primary-color-light: lighten($primary-color, 15%) !default;

$secondary-color: color("blue", "darken-2") !default;
$link-color: $secondary-color !default;

// 4. Cards
// ==========================================================================

$card-link-color: $secondary-color !default;

// 10. Forms
// ==========================================================================

// Text Inputs + Textarea
$input-border-color: $primary-color !default;

// 17. Tabs
// ==========================================================================

$tabs-underline-color: $primary-color-dark !default;
$tabs-text-color: $primary-color-dark !default;