@charset "UTF-8";

@import "materialize-css/variables";

@each $color_name, $colors in $berlussimo-colors {
  $color: map-get($colors, "color");
  @each $color_type, $color_value in $color {
    @if $color_type == "base" {
      .#{$color_name}-color {
        background-color: $color_value !important;
      }
    } @else {
      .#{$color_name}-color-#{$color_type} {
        background-color: $color_value !important;
      }
    }
  }
  $text: map-get($colors, "text");
  @each $color_type, $color_values in $text {
    @each $color_value in $color_values {
      @if $color_type == "base" {
        .#{$color_name}-color.text-variation-#{index($color_values, $color_value)} {
          color: $color_value !important;
        }
      } @else {
        .#{$color_name}-color-#{$color_type}.text-variation-#{index($color_values, $color_value)} {
          color: $color_value !important;
        }
      }
    }
  }
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.row {
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}

.chips {
  margin-bottom: 0;
}

.error-block {
  position: absolute;
  right: auto;
  top: 50px;
  margin: 0;
  margin-left: 3rem;
  color: #f44336;
  opacity: 1;
  font-size: 12px;
}

/* get chips autocomplete in line with other form elements */
.chips .input {
  margin-bottom: 0;
}

.chips > .autocomplete-content {
  margin-top: 15px;
}

/* right width for autocomplete windows */
.autocomplete-content {
  position: absolute;
  width: 100%;
}

.input-field .prefix ~ .autocomplete-content {
  margin-left: 3rem;
  width: 92%;
  width: calc(100% - 4.5rem);
}

.chip .img {
  float: left;
  font-size: 50px;
  line-height: 32px;
  padding-right: 8px;
}

.modal.bottom-sheet {
  max-height: 85%;
}

.yellow-page.row .col {
  display: inline-block;
  vertical-align: top;
  float: none;
}

.warnung {
  color: #F44336 !important;
}

.fixed-action-btn {
  right: 10px;
  bottom: 80px;
}

.detail > i {
  position: absolute;
  left: 2px;
}

.detail {
  padding-left: 20px;
  position: relative;
  display: inline-block
}

nav {
  background-color: map-get($primary-colors, "dark");
}

nav .autocomplete-content a span.badge {
  position: relative;
  float: right;
  line-height: unset;
}

nav .autocomplete-content li a {
  margin: 2px;
  color: nth(map-get($secondary-colors-text, "base"), 2);
}

nav .autocomplete-content li a.active {
  outline: 2px solid black;
}

nav .autocomplete-content li a.active.active-alternative {
  outline: 2px solid black;
}

nav .autocomplete-content li:hover {
  background: unset;
}

nav .autocomplete-content li a:hover {
  outline: 2px solid black;
  background: unset;
}

nav .collapsible-header a:not(.btn) {
  display: unset;
  padding: unset;
  font-size: 18px;
}

nav .collapsible-header i {
  height: unset;
}

nav .collapsible-header a i {
  line-height: unset;
}

nav .collapsible-body a:not(.btn) {
  padding: unset;
}

nav .collapsible-body {
  padding: 1em;
}

nav .collapsible li {
  float: unset;
}

.navbar-fixed {
  height: 140px;
}

nav .brand-logo img {
  height: 56px;
  padding: 8px;
}

nav .brand-logo {
  left: unset;
  transform: unset;
  height: 56px;
}

@media only screen and (min-width: 601px) {
  nav .brand-logo img {
    height: 64px;
    padding: 10px;
  }

  .navbar-fixed {
    height: 156px;
  }
}

.mainmenu .row {
  margin-bottom: 0;
}

.mainmenu .collapsible {
  border: unset;
}

.mainmenu .collapsible-header {
  border: unset;
  height: 46px;
  font-size: 18px;
}

.mainmenu .collapsible-body {
  border: unset;
}

.card-expandable {
  overflow: hidden;
}

.card-expandable > .card-content {
  height: 100%;
}

.chips .chip:focus {
  background-color: $chip-selected-color;
  color: #fff;
  outline-width: 0;
}

.mainmenu a {
  color: inherit;
}

.mainmenu h6 {
  color: nth(map-get($secondary-colors-text, "base"), 1);
}

.mainmenu .breadcrumb:before {
  color: nth(map-get($primary-colors-text, "base"), 3);
}

#toast-container {
  top: unset;
  bottom: 10%;
  right: 50%;
}

.toast {
  right: -50%;
}